<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Ruby's Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="這是台大資管一顧寬証的個人網頁，內有簡短自介、各種經歷及作品集。若想要了解我，就點進來看看吧！" />
	<meta name="keywords" content="顧寬証, 台大資管, 台大, 資管, Ruby, Ruby Ku, James, James Ku, 寬証, 程式設計, 資訊"/>
	<meta name="author" content="顧寬証" />
	<link rel="icon" href="../static/images/new_icon_rounded.png">

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/style.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(../static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(../static/images/ruby.jpg);"></div>
							<h1><span>James Ku</span></h1>
							<h3><span>An IM freshman at NTU</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
									<li><a href="https://www.facebook.com/james.ku.5682" target="_blank"><i class="icon-facebook2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/%E5%AF%AC%E8%A8%BC-%E9%A1%A7-a9b282214/" target="_blank"><i class="icon-linkedin2"></i></a></li>
									<!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li> -->
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>
						About Me
						<br>
						關於我
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div style="text-align: center;">
						<img src="../static/images/ruby.jpg" alt="" style="width: 23rem; margin-bottom: 4.2rem; border-radius: 5%">
					</div>
					<ul class="info">
						<li>
							<span class="first-block">
								中文全名
							</span>
							<span class="second-block">
								顧寬証
								<br>
								(KUAN-CHENG, KU)
							</span>
						</li>
						<li>
							<span class="first-block">
								英文全名
							</span>
							<span class="second-block">
								James Ku
							</span>
						</li>
						<li>
							<span class="first-block">
								化名
							</span>
							<span class="second-block">
								魯比 (Ruby)
							</span>
						</li>
						<li>
							<span class="first-block">
								年齡
							</span>
							<span class="second-block">
								18
							</span>
						</li>
						<li>
							<span class="first-block">
								行動電話
							</span>
							<span class="second-block">
								0983-588-092
							</span>
						</li>
						<li>
							<span class="first-block">
								常用電郵
							</span>
							<span class="second-block">
								ruby0322@ntu.im
							</span>
						</li>
					</ul>
				</div>
				<div class="col-md-8">
					<h2>Hello there! 你好呀！</h2>
					<p>
						我的本名是顧寬証，現為
						<a href="https://zh.wikipedia.org/wiki/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8" target="_blank">
							國立臺灣大學
						</a>
						資訊管理學系一年級在學生。
						<br>
						個性積極、活潑且外向開朗，自認很好相處XD
					</p>
					<p>
						受家庭影響，我從小熱愛各種資訊科學與技術。
						<br>
						高中開始接觸程式設計，不論是選修課、社團、休閒活動等，都與程式脫離不了關係。
					</p>
					<p>
						我很幸運能在大學主修自己喜歡的科系。
						<br>
						大學期間，我享受在各種專案中與隊友合作，並對團隊做出實質貢獻。
					</p>
					<p>
						此外，我也積極參加課外活動：
						<br>
						加入
						<a href="https://sprout.tw/" target="_blank">
							資訊之芽培訓計畫
						</a>
						、協助組建
						<a href="https://ntuimcp.herokuapp.com/" target="_blank">
						第一屆台大資管競程系隊
						</a>
						、利用課餘時間開發休閒專案等。

					</p>
					<p>
						平常的休閒活動除了打code和看別人打code，也熱愛羽球(雖然我很爛)，是資管系羽的一員！
						<br>
						國中時期非常頻繁地到台灣各地露營，接觸大自然、享受遠離喧囂的自在。
						<br>
						雖然高中、大學階段因課業壓力較重，鮮有露營機會，但我仍享受、珍惜露營、旅遊的機會。
					</p>
					<p>
						底下放了一些我的作品，包含了各種經歷、學校專案以及課外專案。
						<br>
						如果你有任何問題或單純想聊聊，請不要吝嗇私訊我，我都很樂意回覆！
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<!-- <li><a href="#"><i class="icon-twitter2"></i></a></li> -->
							<li><a href="https://www.facebook.com/james.ku.5682" target="_blank"><i class="icon-facebook3"></i></a></li>
							<li><a href="https://www.linkedin.com/in/%E5%AF%AC%E8%A8%BC-%E9%A1%A7-a9b282214/" target="_blank"><i class="icon-linkedin2"></i></a></li>
							<!-- <li><a href="#"><i class="icon-dribbble2"></i></a></li> -->
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>
						My Experiences
						<br>
						我的經歷
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div>
								<h3>
									Work Experiences
									<br>
									工作經驗
								</h3>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Intern Lecturer 實習講師</h3>
									<span class="company">
										<a href="https://sprout.tw/" target="_blank">
											Sprout 資訊之芽
										</a>
										 : Dec. 2021 - Now</span>
								</div>
								<div class="timeline-body">
									<p>
										我對資訊有極大熱忱，對教學也有很有興趣。
										<br>
										因此，在同學的推薦下，我認識了資訊之芽。
										<br>
										其宗旨非常打動我，因此毫不猶豫地應徵了。
										<br>
										我很榮幸受到賞識，現職C語法班實習講師。
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Python Tutor 私人家教</h3>
									<span class="company">Sep. 2021 - Now</span>
								</div>
								<div class="timeline-body">
									<p>
										學測後，我在暑假期間從零開始自學了Python。
										<br>
										透過各種線上資源，我成功以Python開發數個休閒專案。
										<br>
										我想分享從零打造出自己的專案、作品的快感。
										<br>
										因此課程初期以基礎語法為主，後期為Project-based的學習。
										<br>
										目前有一位高一學生，若有此需求可連絡我。
									</p>
								</div>
							</div>
						</li>
						<br>
						<li class="timeline-heading text-center animate-box">
							<div>
								<h3>
									Education
									<br>
									教育
								</h3>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Elementary School 國民小學</h3>
									<span class="company">
										<a href="http://www.ccps.tp.edu.tw/" target="_blank">
											臺北市中山區長春國民小學
										</a>
										: 2009 - 2015
									</span>
								</div>
								<div class="timeline-body">
									<p>已畢業</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Junior High School 國民中學</h3>
									<span class="company">
										<a href="https://zh.wikipedia.org/wiki/%E8%87%BA%E5%8C%97%E5%B8%82%E7%AB%8B%E9%BA%97%E5%B1%B1%E5%9C%8B%E6%B0%91%E4%B8%AD%E5%AD%B8" target="_blank">
											臺北市立麗山國民中學
										</a>
										: 2015 - 2018
									</span>
								</div>
								<div class="timeline-body">
									<p>已畢業</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Senior High School 高級中學</h3>
									<span class="company">
										<a href="https://zh.wikipedia.org/wiki/%E8%87%BA%E5%8C%97%E5%B8%82%E7%AB%8B%E5%A4%A7%E5%90%8C%E9%AB%98%E7%B4%9A%E4%B8%AD%E5%AD%B8" target="_blank">
											臺北市立大同高級中學
										</a>
										: 2018 - 2021
									</span>
								</div>
								<div class="timeline-body">
									<p>已畢業</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-inverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">University 大學</h3>
									<span class="company">
										<a href="https://zh.wikipedia.org/wiki/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8" target="_blank">
											國立臺灣大學
										</a>
										: 2021 - Now
									</span>
									<div class="timeline-body">
										<p>主修資訊管理學，就讀中</p>
									</div>
								</div>
							</div>
						</li>
						<li class="timeline-heading text-center animate-box">
							<div>
								<h3>
									Special Experiences
									<br>
									特殊經歷
								</h3>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">補貨演算法設計：班級排名第一</h3>
									<span class="company">
										<a href="#fh5co-work">
											台大資管系程式設計110-1期中專案
										</a>
										Dec. 2021
									</span>
								</div>
								<div class="timeline-body">
									<p>
										<a href="../static/images/exp1.jpg" target="_blank">
											成績證明
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">個人網站架設：班級排名第一</h3>
									<span class="company">
										<a href="#fh5co-work">
											台大資工系多媒體製作110-1期中專案
										</a>
										Nov. 2021
									</span>
								</div>
								<div class="timeline-body">
									<p>
										<a href="../static/images/exp2.png" target="_blank">
											成績證明
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">視訊影音製作：班級排名第一</h3>
									<span class="company">
										<a href="#fh5co-work">
											台大資工系多媒體製作110-1期末專案
										</a>
										Jan. 2022
									</span>
								</div>
								<div class="timeline-body">
									<p>
										<a href="../static/images/exp2.png" target="_blank">
											成績證明
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">多媒體製作學期總成績：班級排名第一</h3>
									<span class="company">
										<a href="../static/images/exp2.png">
											台大資工系多媒體製作110-1學期總成績
										</a>
									</span>
								</div>
								<div class="timeline-body">
									<p>
										A+(94, 班級排名第一)
										<a href="../static/images/exp2.png" target="_blank">
											成績證明
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">台大資管系競程系隊第一屆召部兼行政PM</h3>
									<span class="company">
										<a href="https://ntuimcp.herokuapp.com/" target="_blank">
											台大資管系競程系隊
										</a>
										: Dec. 2021 - Now
									</span>
								</div>
								<div class="timeline-body">
									<p>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">台大資管系B10班級代表</h3>
									<span class="company">
										<a href="https://management.ntu.edu.tw/IM" target="_blank">
											台大資管系
										</a>
										: Sep. 2021 - Now
									</span>
								</div>
								<div class="timeline-body">
									<p>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">110年學測市大同二三類四科榜首</h3>
									<span class="company">
										<a href="https://management.ntu.edu.tw/IM" target="_blank">
											台北市立大同高級中學
										</a>
										May. 2021
									</span>
								</div>
								<div class="timeline-body">
									<p>
										110年學測自然組總級57
										<a href="../static/images/gsat.png" target="_blank">
											學測成績單
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">受飛哥英文邀請個人專訪</h3>
									<span class="company">
										<a href="https://faigo.com.tw/" target="_blank">
											飛哥英文
										</a>
										Aug. 2021
									</span>
								</div>
								<div class="timeline-body">
									<p>
										<a href="https://faigo.com.tw/portfolio-item/%e5%b8%82%e5%a4%a7%e5%90%8c%e9%ab%98%e4%b8%ad-%e9%a1%a7%e5%af%ac%e8%a8%bc%e9%8c%84%e5%8f%96%e3%80%8a%e5%8f%b0%e5%a4%a7%e8%b3%87%e7%ae%a1%e3%80%8b/" target="_blank">
											專訪紀錄網頁
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-unverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">TOEIC 950</h3>
									<span class="company">
										<a href="https://www.toeic.com.tw/" target="_blank">
											TOEIC 多益
										</a>
										Sep. 2020 
									</span>
								</div>
								<div class="timeline-body">
									<p>
										L 475; R 475
										<a href="../static/images/exp3.jpg" target="_blank">
											成績單
										</a>
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">PVQC--生活與資訊科技類 金腦獎</h3>
									<span class="company">
										<a href="http://jytechedu.com/PVQC" target="_blank">
											PVQC 科學與科普專業英文大賽
										</a>
										May. 2021 
									</span>
								</div>
								<div class="timeline-body">
									<p>
										499/500
										<a href="../static/images/pvqc.png" target="_blank">
											教育局獎狀
										</a>
									</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- <div id="fh5co-features" class="animate-box">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-paintbrush"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Design</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-briefcase"></i>
							</span>
							<div class="feature-copy">
								<h3>Branding</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Analytics</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 text-center">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-bargraph"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Developent</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>

					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Web Marketing</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Support</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- <div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>PHP</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Ruby</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">WordPress</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Ruby</span><span class="value-right">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>
						College Projects
						<br>
						大學專案
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/Hyd6SQeaY" class="work" style="background-image: url(../static/images/project_icon1.png);" target="_blank">
						<div class="desc">
							<h3>
								[Algorithm Design]
								<br>
								台大資管系必修程式設計
								<br>
								期中專案–補貨演算法設計
							</h3>
							<span>
								C++
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/HJBBKHgTY" class="work" style="background-image: url(../static/images/project_icon2.png);" target="_blank">
						<div class="desc">
							<h3>
								[Game Dev]
								<br>
								台大資管系必修程式設計
								<br>
								期末專案–遊戲製作
							</h3>
							<span>
								C++(SFML)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/Hkaaoc8PF" class="work" style="background-image: url(../static/images/project_icon3.png);" target="_blank">
						<div class="desc">
							<h3>
								[Web Dev]
								<br>
								台大資工系選修多媒體製作
								<br>
								期中專案–個人網頁架設
							</h3>
							<span>HTML, CSS, Js, HeroKu</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/Bkz6QzxnK" class="work" style="background-image: url(../static/images/project_icon4.jpg);" target="_blank">
						<div class="desc">
							<h3>
								[Multimedia Making]
								<br>
								台大資工系選修多媒體製作
								<br>
								期末專案–影音動畫製作
							</h3>
							<span>PowerDirector, Adobe Animate, Adobe Charactor Animator, Scratch</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/Bkl5M1-CY" class="work" style="background-image: url(../static/images/freshman-project.png);" target="_blank">
						<div class="desc">
							<h3>
								[Data Analysis]
								<br>
								台大資管系必修資管新生專題
								<br>
								期末專案–商業智慧與決策
							</h3>
							<span>Qsearch</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/H1uw76rB5" class="work" style="background-image: url(../static/images/la.png);" target="_blank">
						<div class="desc">
							<h3>
								[Linear Algebra]
								<br>
								台大資管系必修管理數學
								<br>
								作業
							</h3>
							<span>Python(NumPy, Pandas, Sklear, SM)</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>
						Side Projects
						<br>
						休閒專案
					</h2>
				</div>
			</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://ntuimcp.herokuapp.com/" class="work" style="background-image: url(../static/images/project_icon5.png);" target="_blank">
						<div class="desc">
							<h3>
								[Web Dev]
								<br>
								台大資管系競程系隊官網
							</h3>
							<span>
								HTML, CSS, Js
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://ntu-meetup-ripple.herokuapp.com/" class="work" style="background-image: url(../static/images/project_icon6.png);" target="_blank">
						<div class="desc">
							<h3>
								[Web Dev]
								<br>
								台大校內聯誼–Ripple官網
							</h3>
							<span>
								HTML, CSS, Js
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://kuanchengku.wordpress.com/linebot-smallu/" class="work" style="background-image: url(../static/images/project_icon7.png);" target="_blank">
						<div class="desc">
							<h3>
								[Bot Dev]
								<br>
								LINE 聊天機器人
								<br>
								小幽 SmallU
							</h3>
							<span>
								Python(line-bot-sdk, requests, bs4), Firebase
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://discordapp.com/users/863030665023979532/" class="work" style="background-image: url(../static/images/project_icon8.png);" target="_blank">
						<div class="desc">
							<h3>
								[Bot Dev]
								<br>
								Discord 聊天機器人
								<br>
								小幽 SmallU
							</h3>
							<span>
								Python(discord.py, requests, bs4)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://www.facebook.com/profile.php?id=100070528131948" class="work" style="background-image: url(../static/images/project_icon9.png);" target="_blank">
						<div class="desc">
							<h3>
								[Bot Dev]
								<br>
								Facebook自動爬文發文機器人
								<br>
								智慧小幽(已停止運作)
							</h3>
							<span>
								Python(selenium, requests, bs4)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/rJCEPIUCF" class="work" style="background-image: url(../static/images/ntucc.png);" target="_blank">
						<div class="desc">
							<h3>
								[Bot Dev]
								<br>
								LINE 聊天機器人
								<br>
								台大課程喵喵
							</h3>
							<span>
								Python(line-bot-sdk, requests, bs4)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/BkXZZqv0K" class="work" style="background-image: url(../static/images/ntu_dept_api.png);" target="_blank">
						<div class="desc">
							<h3>
								[API Design]
								<br>
								台大系所查詢API
							</h3>
							<span>
								Python(json, flask, requests)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://kuanchengku.wordpress.com/eggie-in-dungeon/" class="work" style="background-image: url(../static/images/project_icon10.png);" target="_blank">
						<div class="desc">
							<h3>
								[Game Dev]
								<br>
								平面地牢射擊遊戲
								<br>
								Eggie In Dungeon 地牢裡的蛋頭
							</h3>
							<span>
								Python(Pygame)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://kuanchengku.wordpress.com/dfs-simulator/" class="work" style="background-image: url(../static/images/project_icon11.jpg);" target="_blank">
						<div class="desc">
							<h3>
								[Game Dev]
								<br>
								深度優先搜尋模視覺化
								<br>
								DFS Simulator 深度優先搜尋模擬器
							</h3>
							<span>
								Python(Pygame, threading)
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://cooljamesku92.wordpress.com/" class="work" style="background-image: url(../static/images/project_icon12.png);" target="_blank">
						<div class="desc">
							<h3>
								[Web Dev]
								<br>
								備審資源整理
								<br>
								彙整服務站
							</h3>
							<span>
								Wordpress
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>
						Articles
						<br>
						文章
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://hackmd.io/@ruby0322/BJMu14a0t" class="work" style="background-image: url(../static/images/py_class_note.jpeg);" target="_blank">
						<div class="desc">
							<h3>
								[程式筆記]
								<br>
								Python類別筆記
								<br>
								第一篇–認識類別
							</h3>
							<span>
								HackMD
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://cooljamesku92.wordpress.com/%e5%82%99%e5%af%a9%e8%a3%bd%e4%bd%9c%e6%b5%81%e7%a8%8b/" class="work" style="background-image: url(../static/images/resume_icon.png);" target="_blank">
						<div class="desc">
							<h3>
								[備審資料]
								<br>
								備審製作流程
							</h3>
							<span>
								Wordpress
							</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://faigo.com.tw/portfolio-item/%e5%b8%82%e5%a4%a7%e5%90%8c%e9%ab%98%e4%b8%ad-%e9%a1%a7%e5%af%ac%e8%a8%bc%e9%8c%84%e5%8f%96%e3%80%8a%e5%8f%b0%e5%a4%a7%e8%b3%87%e7%ae%a1%e3%80%8b/" class="work" style="background-image: url(../static/images/faigo.png);" target="_blank">
						<div class="desc">
							<h3>
								[飛哥專訪]
								<br>
								心路歷程、給學弟妹的建議
							</h3>
							<span>
									飛哥英文
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Post on Medium</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(../static/images/portfolio-1.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Photoshoot On The Street</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(../static/images/portfolio-2.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Surfing at Philippines</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(../static/images/portfolio-3.jpg);"></a>
						<div class="blog-text">
							<span class="posted_on">Mar. 15th 2016</span>
							<h3><a href="#">Capture Living On Uderwater</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>249</li>
								<li><i class="icon-eye2"></i>308</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div> -->
	
	<!-- <div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div> -->

	<!-- <div id="fh5co-consult">
		<div class="video fh5co-video" style="background-image: url(../static/images/cover_bg_1.jpg);">
			<div class="overlay"></div>
		</div>
		<div class="choose animate-box">
			<h2>Contact</h2>
			<form action="#">
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="fname" class="form-control" placeholder="Your firstname">
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<input type="text" id="lname" class="form-control" placeholder="Your lastname">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control" placeholder="Your email address">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Send Message" class="btn btn-primary">
				</div>

			</form>	
		</div>
	</div> -->

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="../static/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="../static/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="../static/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="../static/js/main.js"></script>

	</body>
</html>

